:root {
  --main-red: rgba(218, 0, 0, 1);
  --main-red-01: rgba(218, 0, 0, 0.1);
  --main-red-button-hover: rgb(141, 0, 0);

  --text-color: black;
  --background-color: white;

  --caption-grey: rgb(117, 117, 117);
}

#svelte {
  width: 100%;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  font-size: 0.875rem;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: larger;
  height: 100vh;
}

#main {
  text-align: justify;
  padding: 30px 10px;
}

@media screen and (min-width: 650px) {
  #svelte {
    font-size: 1rem;
  }

  #app {
    flex-direction: row;
    justify-content: center;
  }

  #content {
    display: flex;
    flex-direction: column;
    width: 720px;
  }
}